<div class="table-wrapper">
	<div class="table-title title">
		<div class="row">
			<div class="col-xs-6">
					<h2><b>Manage Journalists</b></h2>
			</div>
		</div>
	</div>
	{{#if journalists}}
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th id="sort-first-name">First Name</th>
				<th id="sort-last-name">Last Name</th>
				<th id="sort-company">Company</th>
				<th id="sort-email">Email</th>
				<th id="sort-city">City</th>
				<th id="sort-date-added">Date Added</th>
			</tr>
		</thead>
		<tbody>
			{{#each journalists as |journalist|}}
				<tr>
					<td>{{journalist.first_name}}</td>
					<td>{{journalist.last_name}}</td>
					<td>{{journalist.company}}</td>
					<td><a href="mailto:{{journalist.email}}">{{journalist.email}}</a></td>
					<td>{{journalist.city}}</td>
					<td>{{format_date journalist.created_at}}</td>
					<td>
						<a href="/edit/journalist/{{journalist.id}}" class="edit"><i class="material-icons">&#xE254;</i></a>
					</td>
				</tr>
			{{/each}}
		</tbody>
	</table>
    <a class="btn" href="mailto:?bcc=
		{{#each journalists as |journalist|}}
		{{journalist.email}},{{/each}}">
		Email All Journalist
	</a>
</div>
{{else}}
<div class="row justify-content-center my-5">
	<h2 class="col-6 text-center">No journalist found matching this criteria.</h2>
</div>
<div class="row justify-content-center">
	<a href="/" class="btn-back text-light">Back To Search</a>
</div>
{{/if}}
<script src="/javascript/sort.js"></script>