<div>
<h3>Search Results</h3>
</div>

<ol class="container">
      <li class="row">
        <div class="col-2">First Name</div>
        <div class="col-2">Last Name</div>
        <div class="col-2">Company</div>
        <div class="col-2">Email</div>
        <div class="col-2">City</div>
        <div class="col-2">Date Added</div>
    </li>
    <li class="row">
        <div class="col-2">{{journalist.first_name}}</div>
        <div class="col-2">{{journalist.last_name}}</div>
        <div class="col-2">{{journalist.company}}</div>
        <div class="col-2">{{journalist.email}}</div>
        <div class="col-2">{{journalist.city}}</div>
        <div class="col-2">{{format_date journalist.created_at}}</div>
    </li>
</ol>